$background-blue: rgb(25, 118, 210);

html {
  body {
    .main-page-container {
      display: flex;
      img {
        align-self: center;
      }
      .main-page {
        margin-left: 50px;
        display: flex;
        height: 85vh;
        align-items: center;
        ul {
          list-style-type: none;
          li {
            a {
              font-size: 100px;
              color: $background-blue;
              font-weight: bolder;
              -webkit-animation: appear 1s linear 0s 1 normal;
              -moz-animation: appear 1s linear 0s 1 normal;
              -ms-animation: appear 1s linear 0s 1 normal;
              animation: appear 1s linear 0s 1 normal;

              @-webkit-keyframes appear {
                0% {
                  opacity: 0;
                  -webkit-transform: scale3d(0.3, 0.3, 0.3);
                  transform: scale3d(0.3, 0.3, 0.3);
                }
                60% {
                  opacity: 1;
                  -webkit-transform: scale3d(1, 1, 1);
                  transform: scale3d(1, 1, 1);
                }
              }
              @keyframes appear {
                0% {
                  opacity: 0;
                  transform: scale3d(0.3, 0.3, 0.3);
                }
                60% {
                  opacity: 1;
                  transform: scale3d(1, 1, 1);
                }
              }
            }
            .border {
              background-color: $background-blue;
              height: 5px;
              width: 35vw;
              margin-right: 80px;
              opacity: 0;
              -webkit-animation: nav-line 1s linear 0s 1 normal;
              -moz-animation: nav-line 1s linear 0s 1 normal;
              -ms-animation: nav-line 1s linear 0s 1 normal;
              @keyframes nav-line {
                0% {
                  transform: scaleX(0);
                  transform-origin: 0 50%;
                  opacity: 1;
                }
                35% {
                  transform: scaleX(1.001);
                  transform-origin: 0 50%;
                }
                65% {
                  transform: scaleX(1.001);
                  transform-origin: 100% 50%;
                }
                100% {
                  transform: scaleX(0);
                  transform-origin: 100% 50%;
                  opacity: 0;
                }
              }
            }
            margin-bottom: 20px;
          }
        }
      }
    }
  }
}
