$background-blue: rgb(25, 118, 210);
$second-theme: #9a2150;

#registered-since-info {
  display: flex;

  @media (max-width: 550px) {
    flex-direction: column;
    align-items: start;
  }
}
#admin-tables {
  width: 100%;
  display: flex;

  @media (max-width: 800px) {
    flex-direction: column;

    div {
      width: calc(100% - 30px);
    }
  }
}

#versus-image {
  width: 100%;
  height: 100%;
}

#exercise-details-container {
  margin-top: 10px;

  #exercise-wrapper {
    width: 100%;
    display: flex;

    #exercise-info-list {
      width: 100%;
      height: 100%;

      #exercise-title {
        border-bottom: 3px solid;
      }

      .exercise-star-icon {
        color: gold;
      }
    }

    #manage-exercise {
      display: flex;
      margin-right: 5px;
      flex-direction: column;

      button {
        height: 40px;
        width: 100px;
        margin-top: 20px;

        &:first-of-type {
          margin-top: 50px
        }
      }
    }

    @media (max-width: 700px) {
      flex-direction: column;

      button {
        width: 100% !important;
      }
    }
  }
}


#versus-run-buttons {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;

  @media (max-width: 600px) {
    flex-direction: column;

    button {
      width: 100%;
      margin-bottom: 10px;
    }
  }
}

#exercises-buttons {
  display: flex;
  justify-content: space-between;

  #tools-buttons {
    display: flex;
    flex-direction: row;

    button {
      width: 100%;
      margin: 5px;
    }
  }

  #run-buttons {

    button:first-of-type {
      margin: 5px;
    }
  }

  @media (max-width: 700px) {

    #run-buttons {
      display: flex;
      flex-direction: column;

      button {
        width: 100%;
        margin: 0 0 10px 0;

        &:first-of-type {
          margin: 0 0 10px;
        }
      }
    }
    #tools-buttons {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;

      button {
        width: 100%;
      }
      margin-bottom: 10px;
    }
    flex-direction: column;
  }
}

#editor {
  display: flex;

  @media (max-width: 1200px) {
    flex-direction: column;
  }

  #code-editor-buttons {
    display: flex;
    flex-direction: column;

    @media (max-width: 1200px) {

      button {
        width: 100%;

        &:last-of-type {
          margin-bottom: 20px;
        }
      }
    }
  }
}

.main-theme-1 {
  color: $second-theme;
}

.main-theme-2 {
  color: $background-blue;
}

.border-theme-1 {
  background-color: $second-theme;
}

.border-theme-2 {
  background-color: $background-blue;
}

.border-theme-0 {
  background-color: $second-theme;
}

.border-theme-2 {
  background-color: $background-blue;
}

.main-theme-0 {
  color: $second-theme;
}

.main-theme-2 {
  color: $background-blue;
}

#select-0 {
  color: $second-theme;
}
#select-1 {
  color: $second-theme;
}
#select-2 {
  color: $background-blue;
}

#select-small-0 {
  color: $second-theme;
}
#select-small-1 {
  color: $second-theme;
}
#select-small-2 {
  color: $background-blue;
}

#box-border-0 {
  border-color: $second-theme;
}
#box-border-1 {
  border-color: $second-theme;
}
#box-border-2 {
  border-color: $background-blue;
}

#combo-box-label-0 {
  color: $second-theme;
}

#testsQuantity-0 {
  color: $second-theme;
}

#hintsQuantity-0 {
  color: $second-theme;
}
#combo-box-label-1 {
  color: $second-theme;
}

#testsQuantity-1 {
  color: $second-theme;
}

#hintsQuantity-1 {
  color: $second-theme;
}
#combo-box-label-2 {
  color: $background-blue;
}

#testsQuantity-2 {
  color: $background-blue;
}

#hintsQuantity-2 {
  color: $background-blue;
}

#difficulty-0 {
  color: $second-theme;
}

#difficulty-1 {
  color: $second-theme;
}

#difficulty-2 {
  color: $background-blue;
}

#programmingLanguage-1 {
  color: $second-theme;
}
#programmingLanguage-1 {
  color: $second-theme;
}
#programmingLanguage-2 {
  color: $background-blue;
}

#testsQuantity-0 {
  color: $second-theme;
}
#testsQuantity-1 {
  color: $second-theme;
}
#testsQuantity-2 {
  color: $background-blue;
}

html {
  height: 100vh;

  body {

    .theme-1 {
      background-color: #191919 !important;
      border-color: $second-theme !important;
      color: $second-theme;
    }

    .theme-2 {
      border-color: $background-blue !important;
      color: $background-blue;
    }

    &.theme-1 {
      background-color: #191919;
      color: $second-theme;
    }

    &.theme-2 {
      color: $background-blue;
    }

    .theme-1-sec {
      background-color: $second-theme;
      color: $second-theme;
    }

    .theme-2-sec {
      background-color: $background-blue;
      color: $background-blue;
    }

    .main-page-container {
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      @media (max-width: 900px) {

        img {
          width: 90%;
        }

        @media (max-width: 1500px) {

          img {
            display: none;
          }
        }
      }

      @media (max-width: 1500px) {
        flex-direction: column;
      }

      .main-page {

        @media (max-width: 900px) {
          margin-top: 0px;
        }
        margin-left: 50px;
        display: flex;
        align-items: center;

        ul {
          list-style-type: none;

          li {

            a {

              @media (max-width: 900px) {
                font-size: 70px;
              }

              @media (max-width: 500px) {
                font-size: 50px;
              }
              font-size: 100px;
              font-weight: bolder;
              -webkit-animation: appear 1s linear 0s 1 normal;
              -moz-animation: appear 1s linear 0s 1 normal;
              -ms-animation: appear 1s linear 0s 1 normal;
              animation: appear 1s linear 0s 1 normal;

              @-webkit-keyframes appear {

                0% {
                  opacity: 0;
                  -webkit-transform: scale3d(0.3, 0.3, 0.3);
                  transform: scale3d(0.3, 0.3, 0.3);
                }

                60% {
                  opacity: 1;
                  -webkit-transform: scale3d(1, 1, 1);
                  transform: scale3d(1, 1, 1);
                }
              }
              @keyframes appear {

                0% {
                  opacity: 0;
                  transform: scale3d(0.3, 0.3, 0.3);
                }

                60% {
                  opacity: 1;
                  transform: scale3d(1, 1, 1);
                }
              }
            }

            .border {
              height: 5px;
              width: 25vw;

              @media (max-width: 1500px) {
                width: 100%;
              }
              margin-right: 80px;
              opacity: 0;
              -webkit-animation: nav-line 1s linear 0s 1 normal;
              -moz-animation: nav-line 1s linear 0s 1 normal;
              -ms-animation: nav-line 1s linear 0s 1 normal;

              @keyframes nav-line {

                0% {
                  transform: scaleX(0);
                  transform-origin: 0 50%;
                  opacity: 1;
                }

                35% {
                  transform: scaleX(1.001);
                  transform-origin: 0 50%;
                }

                65% {
                  transform: scaleX(1.001);
                  transform-origin: 100% 50%;
                }

                100% {
                  transform: scaleX(0);
                  transform-origin: 100% 50%;
                  opacity: 0;
                }
              }
            }
            margin-bottom: 20px;
          }
        }
      }
    }
  }
}

#editor-tag {
  font-weight: bolder;
  font-size: 50px;
  position: relative;
  top: 20px;
}

#editor-wrapper {
  border: 3px solid;
  margin-top: 20px;
  padding: 50px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.review-card {
  overflow-wrap: break-word;
  border-radius: 1rem;
  margin: 3rem;
  padding: 1.5rem;
  background-color: rgb(218, 218, 218);

  .author {
    font-style: italic;
  }

  .exercise-link {
    font-style: italic;

    &:hover {
      font-weight: bold;
      cursor: pointer;
    }
  }

  .rating {
    text-align: end;
  }

  .likes {
    display: flex;

    .up {
      margin-right: 5px;

      &:hover {
        color: rgb(46, 125, 50);
        cursor: pointer;
      }
    }

    .down {
      margin-left: 5px;

      &:hover {
        color: rgb(211, 47, 47);
        cursor: pointer;
      }
    }
  }

  .timestamp {
    text-align: end;
  }
}

#code-field-container {
  display: flex;
  width: 100%;
  margin-left: 7px;

  #code-field-wrapper {
    height: 370px;
    width: 100%;
    overflow: auto;
    border: 3px solid;
    border-radius: 5px;
    text-align: start;
    padding: 2px;
  }
}

#language-selector-form {
  margin: 8px;
  min-width: 180px;
}

#output-field-wrapper {
  display: flex;
  width: 100%;
  margin-right: 5px;
  justify-content: center;
  margin-top: 10px;
  max-height: 200px;

  #line-numbering {
    border-radius: 5px 0 0 5px;
    overflow: auto;
    border: 3px solid;
    border-right: 0;
    padding-top: 2px;
  }

  #text-area-wrapper {
    width: 100%;
    overflow: auto;
    height: 100%;

    #output-text-area {
      border-radius: 0 5px 5px 0;
      background-color: white;
      font-family: "JetBrains Mono";
      border: 3px solid;
      font-size: 14px;
      width: calc(100% - 10px);
    }
  }
}

#run-button {
  height: 40px;
  width: 180px;
  margin-top: 8px;
  margin-left: 8px;

  #run-button-icon {
    position: relative;
    bottom: 3px;
  }
}

#custom-args-container {
  margin: 10px 0;
  border-top: 3px solid;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  text-align: center;

  #custom-args-wrapper {
    padding: 10px;
    border-left: 3px solid;
    border-right: 3px solid;
  }
}

#editor-field-wrapper {
  height: 300px;
  border: 3px solid;
  border-radius: 5px;
}

#tests-wrapper {
  width: calc(100% - 6px);
  border: 3px solid;
  margin-top: 10px;
  padding: 10px 0;
  border-radius: 5px;
  display: flex;
  justify-content: center;

  #tests-text {
    margin-right: 3px;
    font-weight: bolder;
  }
}

#filters-wrapper {
  width: 100%;
}

#customize-exercise-container {
  display: flex;
  justify-content: center;

  #customize-exercise-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;

    #customize-exercise-form {
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 900px;

      .customize-exercise-field {
        width: 100%;
        margin-bottom: 10px;
      }

      .customize-exercise-field-2 {
        margin-top: 10px;
      }

      #buttons-wrapper {
        display: flex;
        flex-direction: column;

        #customize-exercise-button {
          margin: 10px 0;
        }
      }

    }
  }
}

#example-solution-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  .example-solution-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: calc(900px - 10px);
    height: 200px;
    border: 3px solid;
    border-radius: 5px;
    margin: 10px;
  }

  #example-solution-button-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 900px;

    button:first-of-type{
      margin-bottom: 10px;
    }
  }
}

#exercise-form-wrapper {
  display: flex;
  justify-content: center;
  text-align: start;

  form {
    display: flex;
    flex-direction: column;
    width: 900px;
    margin: 10px;

    * {
      margin-bottom: 3px;
    }
  }
}

#hints-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: start;

  #hints-quantity-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;

    div {
      width: 100%;
      max-width: 900px;
    }
  }

  form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 900px;
    margin: 10px;

    div {
      width: 100%;

      .hints-input {
        margin-bottom: 10px;
        margin-right: 10px;
        width: 100%;
      }
    }

    button:first-of-type {
      margin-bottom: 10px;
    }
  }
}

#arrow-forward-icon {
  font-size: 0.9rem;
  color: white;
}

#main-form-container {

  .typography-header {
    color: white;
  }

  .main-form-accordion {
    text-align: center;

    .accordion-text {
      margin: 10px;
      font-weight: bolder;
    }
  }
}

#tests-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: start;

  #tests-quantity-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;

    div {
      width: 900px;
    }
  }

  form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 900px;
    margin: 10px;

    div {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-bottom: 10px;
      gap: 10px;

      div {
        display: flex;
        gap: 5px;
      }
    }

    button:first-of-type {
      margin-bottom: 10px;
    }
  }
}

#tests-container {
  margin-top: 20px;
  border: 3px solid;

  span {
    font-weight: bolder;
    text-align: start;
    margin: 10px;
    font-size: 20px;
  }

  #tests-table {
    min-width: 650px;

    .tests-table-cell {

      span {
        font-weight: bolder;
        font-size: 20px;
      }
    }
  }
}

#review {
  padding: 20px;

  #review-typography {
    font-weight: bolder;
    margin-bottom: 15px;
  }

  #review-no-access {
    text-align: center;
    margin-bottom: 3px;
  }
}

.language-icon {
  margin-right: 5px;
  font-size: 40px;
  position: relative;
  top: 15px
}

#exercise-container {
  width: 100%;
  cursor: pointer;
  margin-top: 10px;

  &:hover {
    transform: scale(1.05);
  }

  #card-content-1 {
    position: relative;

    #rating {
      position: absolute;
    }

    #rating-typography {
      font-weight: bolder;
      text-align: center;
      border-bottom: 1px solid white;
      color: white;
    }

    #author-typography {
      font-weight: bolder;
      color: white;
    }
  }

  #card-content-2 {

    #languages-typography {
      font-weight: bolder;
      position: relative;
      bottom: 20px;
      color: white;
    }
  }

  #card-content-3 {

    #card-content-typography {
      color: white;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }
}

#exercises-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  button:first-of-type {
    margin: 10px;
    width: 100%;
  }

  #exercises-wrapper {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    flex-direction: row;
  }
}

#pagination-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 10px;

  #pagination-controlled-form {
    margin: 8px;
    min-width: 120px;
  }

  #pagination-component {
    margin: 20px;
  }
}