html {
  height: 100vh;
}
html body.theme-1 {
  background-color: rgba(0, 0, 0, 0.9);
}
html body .main-page-container {
  height: 80vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
@media (max-width: 900px) {
  html body .main-page-container {
    height: 90vh;
  }
}
@media (max-width: 900px) {
  html body .main-page-container img {
    width: 90%;
  }
}
@media (max-width: 1500px) {
  html body .main-page-container {
    flex-direction: column;
  }
}
html body .main-page-container .main-page {
  margin-left: 50px;
  display: flex;
  height: 100%;
  align-items: center;
}
html body .main-page-container .main-page ul {
  list-style-type: none;
}
html body .main-page-container .main-page ul li {
  margin-bottom: 20px;
}
html body .main-page-container .main-page ul li a {
  font-size: 100px;
  color: rgb(25, 118, 210);
  font-weight: bolder;
  -webkit-animation: appear 1s linear 0s 1 normal;
  -moz-animation: appear 1s linear 0s 1 normal;
  -ms-animation: appear 1s linear 0s 1 normal;
  animation: appear 1s linear 0s 1 normal;
}
@media (max-width: 900px) {
  html body .main-page-container .main-page ul li a {
    font-size: 70px;
  }
}
@media (max-width: 500px) {
  html body .main-page-container .main-page ul li a {
    font-size: 50px;
  }
}
@-webkit-keyframes appear {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes appear {
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  60% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}
html body .main-page-container .main-page ul li .border {
  background-color: rgb(25, 118, 210);
  height: 5px;
  width: 25vw;
  margin-right: 80px;
  opacity: 0;
  -webkit-animation: nav-line 1s linear 0s 1 normal;
  -moz-animation: nav-line 1s linear 0s 1 normal;
  -ms-animation: nav-line 1s linear 0s 1 normal;
}
@media (max-width: 1500px) {
  html body .main-page-container .main-page ul li .border {
    width: 100%;
  }
}
@keyframes nav-line {
  0% {
    transform: scaleX(0);
    transform-origin: 0 50%;
    opacity: 1;
  }
  35% {
    transform: scaleX(1.001);
    transform-origin: 0 50%;
  }
  65% {
    transform: scaleX(1.001);
    transform-origin: 100% 50%;
  }
  100% {
    transform: scaleX(0);
    transform-origin: 100% 50%;
    opacity: 0;
  }
}

.editor-tag {
  font-weight: bolder;
  font-size: 50px;
  color: rgb(25, 118, 210);
  position: relative;
  top: 20px;
}

.review-card {
  overflow-wrap: break-word;
  border-radius: 1rem;
  margin: 3rem;
  padding: 1.5rem;
  background-color: rgb(218, 218, 218);
}
.review-card .author {
  font-style: italic;
}
.review-card .exercise-link {
  font-style: italic;
}
.review-card .exercise-link:hover {
  font-weight: bold;
  cursor: pointer;
}
.review-card .rating {
  text-align: end;
}
.review-card .likes {
  display: flex;
}
.review-card .likes .up {
  margin-right: 5px;
}
.review-card .likes .up:hover {
  color: rgb(46, 125, 50);
  cursor: pointer;
}
.review-card .likes .down {
  margin-left: 5px;
}
.review-card .likes .down:hover {
  color: rgb(211, 47, 47);
  cursor: pointer;
}
.review-card .timestamp {
  text-align: end;
}

/*# sourceMappingURL=styles.css.map */
